@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Montserrat&display=swap');


* { box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F9E4D4;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9C0F48;
  color: #f39451;
  padding: 1rem;
  font-family: 'Bahiana', cursive;
  border-radius: 40px;
  border-color: #D67D3E;
  border-style: solid;
  margin: 1rem;
}

#carouselExampleCaptions {
  margin-bottom: 1rem;
}

#carouselExampleCaptions .carousel-inner .foto {
  height: 40vh;
  object-fit: cover;  
}

h2 {
  margin-left: 1rem;
  font-size: medium;
  color: #9C0F48;
  font-family: 'Montserrat', sans-serif;
}

.h5 {
  font-weight: bold;
}

/* ---- button ---- */

.fundo--branco {
  background-color: white;
  padding: 1rem;
  
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #F9E4D4;
  border: solid #9C0F48;
  
  /*background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );*/
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #9C0F48;
  text-shadow: 0 1px #D67D3E;
  color: rgb(255, 255, 255);
}

.button:active,
.button.is-checked {
  background-color: #D67D3E;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px #9C0F48;
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
  
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
  
}

.button-group .button {
  float: left;
  border-radius: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/*.button-group .button:first-child { border-radius: 0.5em 0.5em; }
.button-group .button:last-child { border-radius: 0.5em 0.5em; }*/

/* ---- isotope ---- */

.grid {
  border: none;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

body .restaurants {
  display: flex; 
  justify-content: center;
}
/* ---- .element-item ---- */



.element-item {
  position: relative;
  float: center;
  width: 250px;
  height: 150px;
  margin: 15px;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: #262524;
  cursor: pointer;
}

@media (max-width: 559px) {
  .element-item {
    width: calc(100% - 30px);

  }

}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item  {
  position: absolute;
  border-radius: 15px;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
  border-style: solid;
  border-color: #D67D3E;
}


.element-item .name {
  font-family: 'Bahiana', cursive;
  font-size: 32px;
  color: #9C0F48;
}

/*.element-item .foto {
  position: absolute;
  width: 120px;
  height: 80px;
  border-radius: 40px;
  background-image: url('https://images.pexels.com/photos/2098085/pexels-photo-2098085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  right: 50px;
  background-position: center;
  
}*/

.element-item .avaliacao {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  right: 8px;
  bottom: 5px;
  color: #D67D3E;
}

.element-item .avaliacao:after {
  content: '★';
}

.element-item .preco {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 14px;
  font-weight: bold;  
  color: rgb(16, 170, 55);
  
}

.rodape {
  background-color: #9C0F48;
  border-radius: 15px;
  color: #f39451;
}

.nav-link {
  color: white;
}

.github {
  color: white;
}

/*
.element-item.italiana          { background: #aa0000; background: #aa0000; color: white; }
.element-item.indiana  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.brasileira      { background: #ffee00; background: #ffd900; }
.element-item.mexicana       { background: #0f7c0f; background: #0f7c0f; color: white; }
.element-item.irlandesa      { background: #00b35f; background: #00b35f; }
.element-item.argentina { background: #66aeff; background: #66aeff; }
.element-item.inglesa       { background: #175e9c; background: #175e9c; color: white; }
.element-item.americana        { background: #1a1ab9; background: #1a1ab9; color: white; }
.element-item.tailandesa         { background: #e62881; background: #e62881; }
.element-item.japonesa       { background: #F08; background: hsl( 324, 100%, 50%); } */
